.profile-container {
  display: flex;
}

.reset-password-content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f8;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reset-password-btn {
  align-self: flex-start;
  background-color: #1976d2;
  color: white;
}

.reset-password-btn:hover {
  background-color: #155a9f;
}
