#room_modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 0s;
}

#room_modal::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    background-color: rgb(200, 200, 200, .2);
    z-index: 2;
}

#room_modal > .modal {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 50vh;
    max-height: 80vh;
    padding: 15px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    z-index: 3;
}

#room_modal > .modal > .popup-header > h1 {
    margin: 0;
}

#room_modal > .modal > .popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room_modal > .modal > .modal-btns {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

#room_modal > .modal > .modal-btns > .btn {
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

#room_modal > .modal > .modal-btns > .modal-confirm {
    font-size: 1rem;
    border: none;
    background-color: rgb(93, 190, 163);
    color: white;
    font-family: "Kanit", Arial, sans-serif;
}

#room_modal > .modal > .modal-btns > .modal-confirm:hover {
    background-color: rgb(72, 147, 126);
}

#room_modal > .modal > .modal-btns > .modal-cancel:hover {
    color: rgb(150, 150, 150);
}

#room_modal > .modal > .modal-content {
    min-height: calc(50vh - 30px - 44px);
    max-height: calc(80vh - 30px - 44px);
    overflow-y: auto;
}

#room_modal > .modal > .modal-content > .content {
    min-height: calc(50vh - 30px - 44px);
    max-height: calc(80vh - 30px - 44px);
    display: flex;
    gap: 10px;
}

#room_modal > .modal > .modal-content > .content > .column1 {
    min-height: calc(50vh - 30px - 44px);
    max-height: calc(80vh - 30px - 44px);
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    position: relative;
    overflow: hidden;
}

#room_modal .column1 .img-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#room_modal .column1 .img-container .remove-image-button {
    position: absolute;
    bottom: 15px;
    border: none;
    border-radius: 3px;
    padding: 3px 5px;
    background-color: white;
    cursor: pointer;
    z-index: 2;
}

#room_modal .column1 .img-container .remove-image-button:hover {
    background-color: rgb(247, 90, 90);
    color: white;
}

#room_modal .column1 .img-container .image {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

#room_modal .column1 .image-placeholder, 
#room_modal .column1 .image-selected {
    display: flex;
    box-sizing: border-box;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#room_modal .column1 .image-label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

#room_modal .column1 .image-label,
#room_modal .column1 .image-label > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#room_modal .column1 .image-label > img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#room_modal > .modal > .modal-content > .content > .column2 {
    min-height: calc(50vh - 30px - 44px);
    max-height: calc(80vh - 30px - 44px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 0 15px 0;
    justify-content: space-between;
    flex: 1;
}

#room_modal > .modal > .modal-content > .content > .column2 > label{
    margin-bottom: 5px;
}

#room_modal > .modal > .modal-content > .content > .column2 > label > div > p {
    margin: 0;
}

#room_modal > .modal > .modal-content > .content > .column2 > label > select {
    padding: 7px 10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
}

#room_modal > .modal > .modal-content > .content > .column2 > label > select:focus {
    outline-width: 0;
}
/* 
#service_delete_modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 0s;
}

#service_delete_modal::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(200, 200, 200, .1);
    z-index: 2;
}

#service_delete_modal > .delete-confirm {
    width: 30%;
    min-width: 400px;
    height: 30vh;
    min-height: 200px;
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(200, 200, 200, .3);
    z-index: 3;
}

#service_delete_modal > .delete-confirm > .btn-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#service_delete_modal > .delete-confirm > .btn-group > div {
    padding: 15px 80px;
    border-radius: 8px;
    cursor: pointer;
}

#service_delete_modal > .delete-confirm > .btn-group > .confirm {
    background-color: rgb(93, 190, 163);
    color: white;
}

#service_delete_modal > .delete-confirm > .btn-group > .confirm:hover {
    background-color: rgb(72, 147, 126);
}

#service_delete_modal > .delete-confirm > .btn-group > .cancel:hover {
    background-color: rgb(200, 200, 200);
} */