#rooms {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#rooms > .filter-bar {
    height: 80vh;
    width: 100%;
    padding: 35px 0;
    
    display: flex;
    flex-direction: column;

    font-size: 16px;

    gap: 10px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#rooms > .filter-bar div {
    display: flex;
}

#rooms > .filter-bar > .location-container,
#rooms > .filter-bar > .type-container{
    margin: 0 25px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
}

#rooms > .filter-bar > .location-container p ,
#rooms > .filter-bar > .type-container p {
    margin: 0 0 10px 0;

    font-size: 1.2rem;
    font-weight: bold;
}

#rooms > .filter-bar .select {
    display: flex;
    flex-direction: column;
}

#rooms > .filter-bar .select > label > .choose {
    display: flex;
    justify-content: space-between;

    padding: 5px 10px;
    border-radius: 3px;
}

#rooms > .filter-bar .select > label > .choose:hover {
    background-color: rgb(230, 230, 230);
}

#rooms > .filter-bar div.date-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 25px;
}

#rooms > .filter-bar div.date-container > p {
    margin: 0 0 10px 0;

    font-size: 1.2rem;
    font-weight: bold;
}

#rooms > .filter-bar div.date-container > .search_input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}

#rooms > .filter-bar div.date-container > .search_input > label p {
    margin: 0 0 5px 0;

    font-size: 1rem;
    font-weight: bold;
}

#rooms > .filter-bar div.date-container > .search_input > input {
    border: none;
}

#rooms > .filter-bar div.date-container > .search_input > input:focus {
    outline-width: 0;
}

 #rooms > .filter-bar > .filter-btn {
    padding-bottom: 10px;
    margin: 0 25px;
    border-bottom: 1px solid gray;

    display: flex;
    align-items: center;

    font-size: 24px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} 

#rooms > .room-list-container {
    min-height: 100vh;
    width: 100%;
}

#rooms > .room-list-container > .room-list {
    height: 100%;
    background-color: #ebebeb;
}

#rooms > .room-list-container > .room-list > .list {
    height: fit-content;
    
<<<<<<< HEAD
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
=======
    /* display: grid;
    grid-template-columns: 250px 250px 250px 250px; */
    display: flex;
>>>>>>> parent of ef202b4 (Merge branch 'dat' into thanh)
    background-color: white;
    padding: 25px;
    gap: 30px;
}