#dashboard {
    height: 100%;
    position: relative;
}

#dashboard .background-color-dashboard {
    height: calc(100% + 40px);
    width: calc(100% + 40px);
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: #f3f3f3;
    z-index: -1;
}

#dashboard>h1 {
    margin: 0;
}

#dashboard>.content {
    max-height: calc(100vh - 149px);
    overflow-y: scroll;
}

#dashboard>.content::-webkit-scrollbar {
    display: none;
}

#dashboard .card-statistic {
    margin: 30px 0;
    display: flex;
}

#dashboard .card-statistic .card {
    flex: 1;
    margin: 0 10px;
    height: 120px;
    background-color: #8f93ff;
    border-radius: 15px;
    padding: 25px;
    box-sizing: border-box;
}

#dashboard .card-statistic .card .title {
    color: white;
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px;
}

#dashboard .card-statistic .card .value {
    font-size: 28px;
    color: white;
    margin: 0;
}

#dashboard .card-statistic .total-in-come {
    background-color: #9a64d7;
}

#dashboard .card-statistic .total-booking {
    background-color: #35bc94;
}

#dashboard .contend-container {
    display: flex;
}

#dashboard .contend-container .graph-statistic {
    flex: 2;
    background-color: white;
    border: 1px solid #dee1e5;
    border-radius: 15px;
    margin: 0 10px;
    box-sizing: border-box;
}

#dashboard .contend-container .graph-statistic {
    padding: 25px;
}

#dashboard .contend-container .graph-statistic .info-graph .title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}

#dashboard .contend-container .graph-statistic .info-graph svg {
    color: #9aa1ad;
    cursor: pointer;
}

#dashboard .contend-container .trending {
    flex: 1;
    background-color: white;
    border: 1px solid #dee1e5;
    border-radius: 15px;
    height: 569px;
    margin: 0 10px;
    box-sizing: border-box;
    padding: 25px;
}

#dashboard .bar-chart {
    padding: 20px;
}

#dashboard .contend-container .trending .title p {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}

#dashboard .contend-container .trending .trend-card {
    display: flex;
    padding: 15px 0;

}

#dashboard .contend-container .trending .trend-card .img-container {
    height: 60px;
    width: 60px;
}

#dashboard .contend-container .trending .trend-card .img-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
    border: 1px solid rgb(170, 170, 170);
}

#dashboard .contend-container .trending .types p {
    margin: 0;
    font-weight: 500;
}

#dashboard .contend-container .trending .trend-card .card-detail {
    display: flex;
    flex: 1;
    padding-left: 20px;
}

#dashboard .contend-container .trending .trend-card .card-detail .name {
    font-size: 18px;
    margin-bottom: 10px;
}

#dashboard .contend-container .trending .trend-card .card-detail .amount {
    color: rgb(121, 121, 121);
}

#dashboard .contend-container .trending .trend-card .card-detail .count-booking {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#dashboard .contend-container .trending .trend-card .card-detail .count-booking .count {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 7px;
}

#dashboard .contend-container .trending .trend-card .card-detail .count-booking .count svg {
    font-size: 15px;
}

#dashboard .contend-container .trending .trend-card .card-detail .count-booking .booking {
    font-size: 12px;
    margin-top: 5px;
}